.indicator-rect {
    -fx-pref-width: 80px;
    -fx-fill: rgb(90,90,90) ;
    /*-fx-background-color: black;*/
    -fx-border-color: white ;
}

.attribute-name {
	-fx-text-fill: rgb(90,90,90);
	-fx-font-weight: bold; 
	-fx-font-size: 10px;
}

.attribute-value {
	-fx-text-fill: rgb(90,90,90);
	-fx-font-size: 10px;
}