.indicator-rect {
    -fx-fill: rgb(90,90,90) ;
    /*-fx-background-color: black;*/
    -fx-border-color: white ;
}

.attribute-name {
	-fx-text-fill: rgb(90,90,90);
	-fx-font-weight: bold; 
}

.attribute-value {
	-fx-text-fill: rgb(90,90,90);
}